.ask-echo-homepage-button {
  width: 100%;
  padding-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  border: 1px solid var(--resonate-border);
  border-radius: 0px;
  color: var(--resonate-link-color);
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.ask-echo-homepage-button:hover {
  border-color: var(--ifm-color-muted);
  color: var(--ifm-color-muted);
}
